<h1>Вагоны</h1>

<table>
  <thead>
    <tr>
      <th>Тип вагона</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% @wagons.each do |wagon| %>
    <%= render 'wagon', wagon: wagon %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать вагон', new_admin_train_wagon_path %>
