<tr>
  <td><%= wagon.number_wagon %></td>
  <td><%= link_to 'Show', wagon %></td>
  <td><%= link_to 'Edit', edit_wagon_path(train) %></td>
  <td><%= link_to 'Destroy', wagon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>