<h1>Ваш билет</h1>

<table>
  <tbody>
  <tr>
    <th>Номер билета:</th>
    <td><%= @ticket.serial_number %></td>
  </tr>
  <tr>
    <th>Номер поезда:</th>
    <td><%= @ticket.train.number_train %></td>
  </tr>
  </tbody>
</table>

